 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-image: url("/frontend/login/Imagens/Cosmos.png"); /* Plano de fundo */
    background-size: cover;
    background-position: center;
    filter: brightness(0.85) contrast(0.95) saturate(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    background: rgba(109, 21, 176, 0.182);
    backdrop-filter: blur(10px);        
    -webkit-backdrop-filter: blur(200px);  
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 
        0 8px 30px rgb(255, 255, 255),
        inset 0 0 10px rgb(255, 255, 255);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #b53bf6, #5025eb);
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 
        0 0 10px rgba(255, 159, 237, 0.4),
        0 0 20px rgba(255, 0, 115, 0.438);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

button:hover {
    transform: translateY(-1px) scale(1.01);
    background: linear-gradient(135deg, #3bf689, #25ebe1);
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
    box-shadow: 
        0 0 15px rgba(59, 246, 171, 0.6),
        0 0 35px rgba(0, 255, 47, 0.519),
        0 0 60px rgba(220, 246, 195, 0.321);
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}