 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-image: url("/frontend/login/Imagens/Cosmos.png"); /* Plano de fundo */
    background-size: cover;
    background-position: center;
    filter: brightness(0.85) contrast(0.95) saturate(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    background: rgba(109, 21, 176, 0.182);
    backdrop-filter: blur(10px);        
    -webkit-backdrop-filter: blur(200px);  
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 
        0 8px 30px rgb(255, 255, 255),
        inset 0 0 10px rgb(255, 255, 255);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px 12px;
    border-radius: 10px;

    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.12),
        rgba(255,255,255,0.04)
    );

    color: #ffffff;

    border: 1px solid rgba(255, 255, 255, 0.25);

    outline: none;

    box-shadow: 
        inset 0 0 12px rgba(255, 255, 255, 0.05),
        0 4px 15px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    transition: all 0.35s ease;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #b53bf6, #5025eb);
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 
        0 0 10px rgba(255, 159, 237, 0.4),
        0 0 20px rgba(255, 0, 115, 0.438);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

button:hover {
    transform: translateY(-1px) scale(1.01);
    background: linear-gradient(135deg, #3bf689, #25ebe1);
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
    box-shadow: 
        0 0 15px rgba(59, 246, 171, 0.6),
        0 0 35px rgba(0, 255, 47, 0.519),
        0 0 60px rgba(220, 246, 195, 0.321);
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}

/* garante posição relativa */
.input-group{
    position: relative;
}

/* camada partículas */
.particles{
    pointer-events: none;
    position: absolute;
    inset: -12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

/* input acima das partículas */
.input-group input{
    position: relative;
    z-index: 1;
}

/* ativa partículas quando input recebe foco */
.input-group input:focus ~ .particles{
    opacity: 1;
}

/* partículas visuais */
.particles::before,
.particles::after{
    content: "";
    position: absolute;
    inset: 0;

    background-image:
        radial-gradient(rgba(96,165,250,0.9) 1px, transparent 1px),
        radial-gradient(rgba(96,165,250,0.6) 1px, transparent 1px);

    background-size: 35px 35px, 60px 60px;

    animation: floatParticles 10s linear infinite;
}

/* camada mais lenta */
.particles::after{
    animation-duration: 18s;
    opacity: 0.6;
}

/* animação */
@keyframes floatParticles{
    from{
        background-position: 0 0, 0 0;
    }
    to{
        background-position: 300px 500px, -400px 300px;
    }
}